body {
  background-color: azure;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgb(227, 148, 139);
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.text {
  color: #fff;
}
.text::before {
  content: "ADD BEFORE ";
  color: lightblue;
}
.text::after {
  content: " ADD after ";
  color: rgb(4, 75, 98);
  font-size: 70px;
}
.text2 {
  color: #fff;
  font-size: 100px;
  position: relative;
  overflow: hidden;
}
.text2::before {
  content: "Text";
  color: rgb(6, 32, 164);
  position: absolute;
  left: -5px;
}